body {
    font-family: "Roboto", sans-serif;
}

.content,
.footer {
    padding: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery__item {
    margin: 5px;
}

.gallery {
    display: flex;
    width: 440px;
    text-align: center;
    margin: auto;
    width: 50%;
}

.gallery__img {
    border-radius: 8px;
}

.gallery__caption {
    margin-top: 8px;
    font-size: 11px;
    font-weight: 300;
}

.footer {
    margin-top: 48px;
}

.footer__pagination {
    text-align: center;
}

.pagination {
    padding: 0;
}

.pagination__item {
    color: #5e626a;
    width: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    padding: 8px;
    cursor: pointer;

    transition: background-color 0.2s ease-out;
}

.pagination__item:not(.is-active):hover {
    background-color: #e0e6ed;
}

.pagination__item.is-active {
    background: #f03d6e;
    color: #fff;
}